script(src="https://cdnjs.cloudflare.com/ajax/libs/quicklink/2.3.0/quicklink.umd.js", defer)
script(type='text/javascript', src='main.js', defer)
script(type='text/javascript', src='player.js', defer)