nav.sidebar
	.sidebar__item.logo--height
		.sidebar__item--l
			a(href='index.html')
				h5 ( ESP )
		.sidebar__item__logo
			h1#logo CRISTIAN ARIAS
			.sidebar__item__logo--menu
				.sidebar__item__logo--menu
					a(href='news--en.html')
						h4 NEWS
					a(href='research--en.html')
						h4 RESEARCH
					a(href='info--en.html')
						h4 INFO
		.sidebar__item--r
			a(href='index--en.html')
				h5 ( ENG )

	+sidebar__item--en('digital image', 'bajo la misma luna', '2022', 'luna')
	+sidebar__item--en('video', 'slamming brutal death army', '2021', 'slamming')
	+sidebar__item--en('video', 'Ciudad Serpiente', '2021', 'serpiente')
	+sidebar__item--en('algorithmic video', 'Natural Born Glitcher', '2021', 'glitcher')
	+sidebar__item--en('installation', 'BEFO®', '2021', 'befo')
	+sidebar__item--en('digital image', 'Central de Inteligencia Artificial (CIA)', '2020', 'cia')
	+sidebar__item--en('workshop + video', 'Carbono14', '2020', 'carbono')
	+sidebar__item--en('audio', 'Patria Simulada', '2019', 'patria')
	+sidebar__item--en('website', 'Los Ahogados Más Hermosos del Mundo', '2019', 'ahogados')
	+sidebar__item--en('video', 'Desarrollo', '2019', 'desarrollo')

	a.sidebar__item.cb-w.o-sup(href='mailto:cristian@arias.studio')
		.sidebar__item--l
			h1 →
		.sidebar__item--c
			h2.fw-b.lowercase cristian@arias.studio
		.sidebar__item--r
			h1 ←