include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.wrapper
			include __sidebar.pug
			
			main.main(data-barba="container", data-barba-namespace="home")

				details
					summary.f-l.fw-b
						p.f-l.fw-b BEFO®
					.summary__statement
						p En la sociedad actual existen sustancias que cambian la química del cerebro, unas son ilegales, como la heroína, cocaína, LCD, etc., pero otras son permitidas e incluso las industrias farmacéuticas alientan vehementemente su uso. Uno de estos casos son los medicamentos para tratar el Trastorno por Déficit de Atención e Hiperactividad (TDAH), como el metilfenidato, como Ritalin y anfetaminas, como Adderall. En el ámbito académico, personas no diagnosticadas, hacen uso de él para mejorar su capacidad de concentración. Esto es un problema de salud pública que delata la presión de los ámbitos académicos. Esto sucede principalmente en Estados Unidos, pero ya se conoce de casos en Colombia.
						
						.summary__info--detail
							+summary__info--detail('2021', 'INSTALACIÓN PARA SITIO ESPECÍFICO + WEBSITE', 'SOFTWARE A LA MEDIDA, CAJAS, VITRINA', 'VARIABLE')

				+main__img('befo_1', '1920', '1344')
				+main__img('befo_2', '1620', '1080')
				+main__img('befo_3', '1620', '1080')
				+main__img('befo_4', '1620', '1080')

				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')

	//----------------------------------------
	include __import-js.pug
