include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.wrapper
			include __sidebar--en.pug
			
			main(data-barba="container" data-barba-namespace="home").main

				details
					summary.f-l.fw-b
						p.f-l.fw-b BEFO®
					.summary__statement
						p In today's society there are substances that change the chemistry of the brain, some are illegal, such as heroin, cocaine, LCD, etc., but others are allowed and even the pharmaceutical industries strongly encourage their use. One of these cases are medications to treat Attention Deficit Hyperactivity Disorder (ADHD), such as methylphenidate, such as Ritalin, and amphetamines, such as Adderall. In the academic field, undiagnosed people make use of it to improve their ability to concentrate. This is a public health problem that betrays the pressure from academic circles. This happens mainly in the United States, but cases are already known in Colombia.
						
						.summary__info--detail
							+summary__info--detail--en('2021', 'SITE SPECIFIC INSTALLATION + WEBSITE', 'CUSTOM SOFTWARE, BOXES, SHOWCASE', 'VARIABLE')

				+main__img('befo_1', '1920', '1344')
				+main__img('befo_2', '1620', '1080')
				+main__img('befo_3', '1620', '1080')
				+main__img('befo_4', '1620', '1080')

				+main__back-menu--en()

				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')

	//----------------------------------------
	include __import-js.pug
