include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.wrapper
			include __sidebar--en.pug
			
			main(data-barba="container" data-barba-namespace="home").main

				details
					summary.f-l.fw-b
						p.f-l.fw-b CENTRAL DE INTELIGENCIA ARTIFICIAL (CIA)
					.summary__statement
						p Central Artificial Intelligence (CIA) is an image that contains still frames from the propaganda animation, Meet King Joe (1949), previously processed with an artificial intelligence model, which was initially trained to convert flat color areas into realistic photographs , but which was implemented in reverse in this piece. The agency of culture and art, carried out by governments and institutions, is questioned. Specifically, a nod is made to the well-known and documented interference of the Central Intelligence Agency in the promotion of American abstract art and, in turn, of capitalism, which was its ultimate goal. Today governments and corporations use big data and artificial intelligence to manipulate social interactions and ideology, shaping culture and even aesthetic taste. Its hegemony is exercised from the economic to the cultural.
						
						.summary__info--detail
							+summary__info--detail--en('2020', 'DIGITAL IMAGE', 'AI, REMIXED VIDEO', '17737×17737 px')

				+main__img('cia_1', '1920', '1079')

				+main__back-menu--en()

				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')
	//----------------------------------------
	include __import-js.pug