include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="es")
	include __head.pug

	body(data-barba="wrapper")
		.wrapper
			include __sidebar.pug
					
			main(data-barba="container" data-barba-namespace="home").main

				.summary.f-l.fw-b
					p.f-l.fw-b CENTRAL DE INTELIGENCIA ARTIFICIAL (CIA)

				+main__img('cia_1', '1921', '1921')

				.summary__statement
					p Central de Inteligencia Artificial (CIA) es una imagen que contiene los still frames de la animación propagandística, Meet King Joe (1949), previamente procesados con un modelo de inteligencia artificial, el cual inicialmente estaba entrenado para convertir zonas de color plano en fotografías realistas, pero que se implementó a la inversa en esta pieza. Se pone en cuestión el agenciamiento de la cultura y el arte, llevado a cabo por gobiernos e instituciones. Puntualmente se hace un guiño a la ya conocida y documentada injerencia de la Central Intelligence Agency en la promoción del arte abstracto estadounidense y a su vez del capitalismo, que era su fin último. En la actualidad los gobiernos y las corporaciones se valen de el big data y de la inteligencia artificial para manipular las interacciones sociales y la ideología, moldeando la cultura e incluso el gusto estético. Su hegemonía se ejerce desde lo económico hasta lo cultural.
					.summary__info--detail
						+summary__info--detail('2020', 'IMAGEN DIGITAL', 'IA, VIDEO REMEZCLADO', '17737×17737 px')
						
				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')
	//----------------------------------------
	include __import-js.pug