include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="es")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-m.fw-b.blink DESLICE PARA VER MÁS PROYECTOS
					
		.wrapper
			include __sidebar.pug
			
			main(data-barba="container" data-barba-namespace="home").main

				.summary.f-l.fw-b
					p.f-l.fw-b COLOMBIA CORP.

				+main__img('colombiacorp_2', '1920', '1080')
				+main__img('colombiacorp_1', '1920', '1080')
				+main__img('colombiacorp_3', '1920', '1080')
				+main__img('colombiacorp_4', '1920', '1080')
				+main__img('colombiacorp_5', '1920', '1080')
				+main__img('colombiacorp_7', '1920', '1080')
				+main__img('colombiacorp_6', '1920', '1080')
				
				.main__video
					<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/789335685?h=be1e8e9537&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Colombia Corp."></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

				.summary__statement
					p Supongamos que en la era del Capitalismo de la Vigilancia (Zuboff, 2019) se hace irrelevante la democracia y se establecen corporaciones administradoras de las naciones. ¿Cómo sería un re-branding de los símbolos nacionales? ¿Cómo serían los himnos nacionales? ¿Cómo serían las marcas gráficas de las identidades nacionales?. En el video, un humano digital anglo-parlante, recita el himno nacional de Colombia, mientras aparecen a su espalda, imágenes oficiales del himno nacional de Colombia. El video es una reflexión sobre la vigencia de los símbolos nacionales en la era de la vigilancia y la democracia predictiva. Este trabajo es la continuación conceptual de Patria Simulada (Cristian Arias, 2019).
					.summary__info--detail
						+summary__info--detail('2023', 'VIDEO', 'HUMANO DIGITAL, VIDEO OFICIAL DEL HIMNO NACIONAL DE COLOMBIA', 'HD, 2:35 min')

				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')

	//----------------------------------------
	include __import-js.pug
