include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.wrapper
			include __sidebar--en.pug
			
			main.main(data-barba="container", data-barba-namespace="home")

				details
					summary.f-l.fw-b
						p.f-l.fw-b DESARROLLO
					.summary__statement
						p In DESARROLLO, a text advances to the rhythm of the sound of an excavating machine, as if it were its undercarriage. The piece revolves around western notions of development, its unstoppable march and its consequences for the world.
						
						.summary__info--detail
							+summary__info--detail--en('2019', 'VIDEO', 'SINGLE CHANNEL VIDEO', 'HD, 2:36 min')

				+main__img('desarrollo_1')
				+main__img('desarrollo_2')
				+main__img('desarrollo_3')
				.main__video
						<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/321745300?h=55a176e16e&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Desarrollo"></iframe></div>

				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')
	//----------------------------------------
	include __import-js.pug