include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.wrapper
			include __sidebar--en.pug
			
			main(data-barba="container" data-barba-namespace="home").main

				.summary.f-l.fw-b
					p.f-l.fw-b NATURAL BORN GLITCHER

				+main__img('glitcher_3', '1920', '1001')
				+main__img('glitcher_4', '1920', '1001')
				+main__img('glitcher_5', '1920', '1001')
				+main__img('glitcher_6', '1920', '1001')

				.main__video
						<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/742844001?h=43cac4c0a3&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Natural Born Glitcher.mp4"></iframe></div>

				.summary__statement
					p Algorithmic video for the MediaLab Prado screen at the MMMAD Festival in Madrid.
					.summary__info--detail
						+summary__info--detail--en('2021', 'SITE SPECIFIC ALGORITHMIC VIDEO', 'CUSTOM SOFTWARE, SCREEN', '≈ 14,5 m × 9,4 m')
				
				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')
	//----------------------------------------
	include __import-js.pug