include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	style.
		.sidebar__item:is(:link, :visited, :active).active
			color $c-m !important
			-webkit-tap-highlight-color rgba(0, 0, 0, 0)

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-m.fw-b.blink SCROLL TO SEE MORE PROJECTS
		.wrapper
			include __sidebar--en.pug


	//----------------------------------------
	include __import-js.pug