include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="es")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-m.fw-b.blink DESLICE PARA VER MÁS PROYECTOS
		.wrapper
			include __sidebar.pug

	//----------------------------------------
	include __import-js.pug