include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="es")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-s.fw-b.blink DESLICE PARA VER MÁS PROYECTOS
		.wrapper
			include __sidebar.pug

			main(data-barba="container" data-barba-namespace="home").main
	//----------------------------------------
	include __import-js.pug