include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-m.fw-b.blink SCROLL TO SEE MORE PROJECTS
		.wrapper
			include __sidebar--en.pug
			
			main(data-barba="container" data-barba-namespace="home").main

				.news__item
					h2 INFORMATION

				.info__item
					h2 STATEMENT
					.info__item--text
						p.m-negative The work of Cristian Arias focuses on the critical manipulation of interfaces, where human-machine interaction is presented as a stage for dispute and ideological friction. As a result, he mainly generates digital artifacts over time: websites, videos and installations; that evidence the contemporary forms of the exercise of power, the imposition of identity and the incidence of technology in it.
				.info__item
					h2 BIO
					.info__item--text
						p.m-negative Arias has an undergraduate degree in Graphic Design from the National University of Colombia and was the winner of the Best Undergraduate Work Version XXVII award from the same university. He is currently studying a Master's Degree in Contemporary Sculpture at the Complutense University of Madrid thanks to the Young Talents scholarship from the Government of Colombia. He has participated in exhibitions such as Diaporama, Panorama 5 of the ARTBO cycle and 1st National Salon of University Art, Plaza del Medialab Prado Program and Artecámara of ARTBO 2021.

				a.info__item.f-xl.fw-b.stride(href="mailto:cristian@arias.studio") cristian@arias.studio

				a.info__item.f-l.fw-b.stride(href='docs/arias_cv--en.pdf', target='_blank') DOWNLOAD CV
					
				a.info__item.f-l.fw-b.stride(href='docs/arias_portfolio--en.pdf', target='_blank') DOWNLOAD PORTFOLIO

				a.info__item.f-l.fw-b.stride(href='https://replicante.co/', target='_blank') 
					p.fw-b REPLICANTE™↗

				//- a.info__item.f-l.fw-b.stride(href='https://docs.google.com/spreadsheets/d/1ze6TtWl-2f-CreKxBDcPCScYJ-qjf2OhF6N59cVQyEw/edit?usp=sharing', target='_blank') 
				//- 	p.fw-b ATTEMPTS↗

				a.info__item.f-xl.fw-b.stride(href='https://creativecommons.org/licenses/by-nc-sa/3.0/deed.es', target='_blank') 
					p 🄯<script>document.write( new Date().getFullYear() );</script>&nbspCristian Arias. Licensed under a Creative Commons License (By-NC-SA)

				+marquee__info('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')

	//----------------------------------------
	include __import-js.pug