include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="es")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-m.fw-b.blink DESLICE PARA VER MÁS PROYECTOS
		.wrapper
			include __sidebar.pug
			
			main(data-barba="container" data-barba-namespace="home").main

				.news__item
					h2 INFORMACIÓN

				.info__item
					h2 STATEMENT
					.info__item--text
						p.m-negative El trabajo de Cristian Arias se enfoca en la manipulación crítica de interfaces, donde la interacción humano-máquina se plantea como escenario de disputa y fricción ideológica. Producto de ello genera, principalmente, artefactos digitales en el tiempo: sitios web, videos e instalaciones; que evidencian las formas contemporáneas del ejercicio del poder, la imposición de identidad y la incidencia de la tecnología en esta.
				.info__item
					h2 BIO
					.info__item--text
						p.m-negative Arias tiene un pregrado en Diseño Gráfico de la Universidad Nacional de Colombia, ganador del premio Mejores Trabajos de Grado de Pregrado Versión XXVII de la misma universidad. Cursa actualmente una Maestría en Inteligencia Artificial. Ha participado en programas de educación no formal como ARTBO TUTOR y el Programa de Formación Artística del MAMBO. Ha participado en exposiciones como Diaporama, Panorama 5 del ciclo ARTBO, el 1º Salón Nacional de Arte Universitario, Programa la Plaza del Medialab Prado y Artecámara de ARTBO 2021.

				a.info__item.f-xl.fw-b.stride(href="mailto:cristian@arias.studio") cristian@arias.studio

				a.info__item.f-l.fw-b.stride(href='docs/arias_cv.pdf', target='_blank') DESCARGAR CV

				a.info__item.f-l.fw-b.stride(href='docs/arias_portfolio.pdf', target='_blank') DESCARGAR PORTAFOLIO

				a.info__item.f-l.fw-b.stride(href='https://replicante.co/', target='_blank') 
					p.fw-b REPLICANTE™↗

				a.info__item.f-l.fw-b.stride(href='https://docs.google.com/spreadsheets/d/1ze6TtWl-2f-CreKxBDcPCScYJ-qjf2OhF6N59cVQyEw/edit?usp=sharing', target='_blank') 
					p.fw-b INTENTOS↗

				a.info__item.stride(href='https://creativecommons.org/licenses/by-nc-sa/3.0/deed.es', target='_blank') 
					p.f-s.lh-120 ©<script>document.write( new Date().getFullYear() );</script>&nbspCristian Arias. Licensed under a Creative Commons License (By-NC-SA)
				

				+marquee__info('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')

	//----------------------------------------
	include __import-js.pug