include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-s.fw-b.blink SCROLL TO SEE MORE PROJECTS
		.wrapper
			include __sidebar--en.pug
			
			main(data-barba="container" data-barba-namespace="home").main

				.news__item
					h2 INFORMATION

				.info__item
					h2 STATEMENT
					.info__item--text
						p The work of Cristian Arias focuses on the critical manipulation of interfaces, where human-machine interaction is presented as a stage for dispute and ideological friction. As a result, he mainly generates digital artifacts over time: websites, videos and installations; that evidence the contemporary forms of the exercise of power, the imposition of identity and the incidence of technology in it.
				.info__item
					h2 BIO
					.info__item--text
						p Arias has an undergraduate degree in Graphic Design from the National University of Colombia, winner of the Best Undergraduate Degree Projects Version XXVII award from the same university. He is currently studying the Master in Visual and Multimedia Arts at the Polytechnic University of Valencia and the Master's Degree in Artificial Intelligence at the Sergio Arboleda University. He has participated in non-formal education programs such as ARTBO TUTOR and the MAMBO Artistic Training Program. He advanced studies in electronic engineering, approving five semesters, at the Francisco José de Caldas District University. He has participated in exhibitions such as Diaporama, Panorama 5 of the ARTBO cycle and 1st National Hall of University Art, Plaza del Medialab Prado Program and Artecamara of ARTBO 2021.

				.info__item
					a.f-xl.fw-b(href="mailto:cristian@arias.studio") cristian@arias.studio

				.info__item
					a.f-l.fw-b(href='docs/arias_cv--en.pdf', target='_blank') DOWNLOAD CV↗
					
				.info__item
					a.f-l.fw-b(href='docs/arias_portfolio--en.pdf', target='_blank') DOWNLOAD PORTFOLIO↗

				.info__item
					a.f-l.fw-b(href='https://replicante.co/', target='_blank') REPLICANTE™↗

				

				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')

	//----------------------------------------
	include __import-js.pug