include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-m.fw-b.blink SCROLL TO SEE MORE PROJECTS
		.wrapper
			include __sidebar--en.pug
			main(data-barba="container" data-barba-namespace="home").main

				.news__item
					h2 news

				.news__item
					a.f-l.fw-b(href="https://www.artbo.co/semanaartbo/Artecamara", target='_blank')
						h2 ARTECÁMARA 2021
						p ( EXHIBITION ) 25-09-2021 → 09-10-2021. Galería Santafé Bogotá, Colombia.

				.news__item
					a.f-l.fw-b(href="https://saladeproyectos.uniandes.edu.co/la-vitrina/cristian-arias-befo/", target='_blank')
						h2 BEFO®
						p ( EXHIBITION ) 11-08-2021 → 01-09-2021. Universidad De Los Andes. Bogotá, Colombia. 

				.news__item
					a.f-l.fw-b(href="https://www.instagram.com/p/CQ05OF8pzTS/", target='_blank')
						h2 ENCUENTROS EN MARTE
						p ( EXHIBITION ) 08-07-2021 → 31-07-2021. Galería Marte247. Bogotá, Colombia.

				.news__item
					a.f-l.fw-b(href="http://vartexmedellin.co/v9/", target='_blank')
						h2 VARTEX 9 MUESTRA DE VIDEO & EXPERIMENTAL
						p ( SCREENING ) 23-06-2021 → 26-06-2021. Medelín, Colombia.

				.news__item
					a.f-l.fw-b(href="https://mmmad.art/Edicion-Madrid-2021", target='_blank')
						h2 MMMAD FESTIVAL 2021
						p ( SCREENING ) 01-05-2021 → 31-05-2021. Medialab Prado. Madrid, España.

				.news__item
					a.f-l.fw-b(href="https://culturabbaa.webs.upv.es/archivos/4806", target='_blank')
						h2 SHORT PAM! 21
						p ( SCREENING ) 24-05-2021 → 28-05-2021. Filmoteca Valencia. Valencia, España.

				.news__item
					a.f-l.fw-b(href="https://vafaenza.com/", target='_blank')
						h2 III MUESTRA VIDEOARTE FAENZA
						p ( SCREENING ) 20-05-2021 → 30-05-2021. Teatro Jorge Eliécer Gaitán. Bogotá, Colombia.

				.news__item
					a.f-l.fw-b(href="https://espacioodeon.com/wp-content/uploads/2020/01/O_hoja_sala_4_arte.pdf", target='_blank')
						h2 QUE NO CUNDA EL PÁNICO (¿HAY OTRAS MANERAS?
						p ( EXHIBITION ) 15-01-2020 → 29-02-2020. Espacio Odeón. Bogotá, Colombia.

				

				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')

	//----------------------------------------
	include __import-js.pug