include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-m.fw-b.blink SCROLL TO SEE MORE PROJECTS
		.wrapper
			include __sidebar--en.pug
			
			main(data-barba="container" data-barba-namespace="home").main

				.summary.f-l.fw-b
					p.f-l.fw-b PATRIA SIMULADA

				+main__img('patria_1', '1920', '1280')
				.main__video
						<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/737983713?h=bc33427169&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Patria Simulada"></iframe></div>

				.summary__statement
					p PATRIA SIMULADA is a cover of the national anthem interpreted by a robot voice with English pronunciation and accent. The piece aims to reflect on the impact of globalization and technology on democracies, pointing out a strange but obvious similarity between the events of Brexit in the United Kingdom, the election of Donald Trump in the United States and the triumph No in the plebiscite for peace in Colombia. In this last event, the national electorate, without knowing it, was a victim of manipulation as well as its peers of the so-called "first world", although in different directions: there, to curb migration, and here, to perpetuate the war. The Colombian elite, which is at the foot of the Anglo-Saxon, imitates its forms of domination, perpetuating the cycle of domination at a lower level. Neocolonial irony is monumental.
					.summary__info--detail
						+summary__info--detail--en('2019', 'REMIXED AUDIO', 'ALGORITHMIC VOICE, NATIONAL ANTHEM', '2:24 min')
				
				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')
	//----------------------------------------
	include __import-js.pug