include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-m.fw-b.blink SCROLL TO SEE MORE PROJECTS
		.wrapper
			include __sidebar--en.pug
			main(data-barba="container" data-barba-namespace="home").main

				.news__item
					h2 RESEARCH 

				a.news__item.f-l.fw-b.stride(href="https://ariasstudio.notion.site/REFERENCES-MAP-3bad31d2f3864e2191bf5d1fb6b25e29", target='_blank')
					h2 REFERENCES MAP↗	

				a.news__item.f-l.fw-b.stride(href="https://github.com/arias-studio?tab=repositories", target='_blank')
					h2 CODE REPOSITORY↗

				//- ---------------------------------------------------- -//
				.news__item
					h2 TEXTS
	
				a.news__item.f-l.fw-b.stride.extrapadding(href="docs/arias_livecinemaVJing.pdf", target='_blank')
					h2 Arte & Diseño: una distinción entre Live Cinema y VJing
					p.m-negative Short text. 2022.

				a.news__item.f-l.fw-b.stride.extrapadding(href="docs/arias_casoIndaplant.pdf", target='_blank')
					h2 The IndaPlant Community: una aproximación a los ciberbiomas
					p.m-negative Short text. 2022.

				a.news__item.f-l.fw-b.stride.extrapadding(href="docs/contraModeloT_Arias_2022.pdf", target='_blank')
					h2 Artes y Ciencias: una apuesta contra el modelo T de Ford
					p.m-negative Short text. 2022.

				//- ---------------------------------------------------- -//
				.news__item
					h2 OTHERS

				a.news__item.f-l.fw-b.stride.extrapadding(href="docs/arias_sistemaArtesCiencias.pdf", target='_blank')
					h2 SISTEMA ARTES-CIENCIAS: ALGUNOS NODOS
					p.m-negative Scheme. 2022.

				a.news__item.f-l.fw-b.stride.extrapadding(href="docs/arias&bermudez_archivoFotograficoMosquera.pdf", target='_blank')
					h2 ARCHIVO FOTOGRÁFICO DE MOSQUERA
					p.m-negative Graphic design degree work. 2018.


				+marquee__info('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')

	//----------------------------------------
	include __import-js.pug