include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body(data-barba="wrapper")
		.scroll
			.scroll__marquee
				.f-s.fw-b.blink SCROLL TO SEE MORE PROJECTS
		.wrapper
			include __sidebar--en.pug
			main(data-barba="container" data-barba-namespace="home").main

				.news__item
					h2 RESEARCH 

				.news__item
					a.f-l.fw-b(href="https://www.are.na/cristian-arias/", target='_blank')
						h2 Research references
						p are.na↗

				.news__item
					a.f-l.fw-b(href="https://ariasstudio.notion.site/f934848ad6564977b429cc7484f2f0a6?v=a2f9c72dabd141aaa38827c0f5a4e249", target='_blank')
						h2 REFERENTS
						p notion↗

				.news__item
					a.f-l.fw-b(href="docs/liveCinemaVJing_Arias_2022.pdf", target='_blank')
						h2 Arte & Diseño: una distinción entre Live Cinema y VJing
						p Short text. 2022.

				.news__item
					a.f-l.fw-b(href="docs/casoIndaplant_Arias_2022.pdf", target='_blank')
						h2 The IndaPlant Community: una aproximación a los ciberbiomas
						p Short text. 2022.

				.news__item
					a.f-l.fw-b(href="docs/contraModeloT_Arias_2022.pdf", target='_blank')
						h2 Artes y Ciencias: una apuesta contra el modelo T de Ford
						p Short text. 2022.

				.news__item
					a.f-l.fw-b(href="http://www.medialab.unal.edu.co/medialab/textos/JulianaBermudez.pdf", target='_blank')
						h2 ARCHIVO FOTOGRÁFICO DE MOSQUERA
						p Graphic design degree work. 2018.

				

				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')

	//----------------------------------------
	include __import-js.pug