include __mixins.pug
include __version.pug
//----------------------------------------
doctype html
html(lang="en")
	include __head.pug

	body()
		.wrapper
			include __sidebar--en.pug
			
			main.main

				details
					summary.f-l.fw-b
						p.f-l.fw-b CIUDAD SERPIENTE
					.summary__statement
						p CIUDAD SERPIENTE is a remixed version of "Bicentenario Ejército Nacional" of the National Army of Colombia.
						
						.summary__info--detail
							+summary__info--detail--en('2021', 'SINGLE CHANNEL VIDEO', 'REMIXED VIDEO, REMIXED AUDIO, ALGORITHMIC TEXT', 'HD, 3:47 min')

				+main__img('serpiente_2', '1920', '1079')
				+main__img('serpiente_3', '1920', '1079')
				+main__img('serpiente_4', '1920', '1079')
				+main__img('serpiente_5', '1920', '1079')

				.main__video
						<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/738323506?h=3c8a2cf639&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Ciudad Serpiente"></iframe></div>

				+marquee('INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ INDEX ↓ ')
	//----------------------------------------
	include __import-js.pug