//---COLORS---------------------------------
.c-d
	color $c-d !important
.c-m
	color $c-m !important
//---COLORS---------------------------------
.cb-w
	background-color white !important
//---FONT SIZE------------------------------
.f-xs
	font-size $f-xs !important
.f-s
	font-size $f-s !important
.f-m
	font-size $f-m !important
.f-l
	font-size $f-l !important
.f-xl
	font-size $f-xl !important
.f-xxl
	font-size $f-xxl !important
//---FONT LINE HEIGHT-----------------------
.flh-100
	line-height $flh-100 !important
//---FONT WEIGHT----------------------------
.fw-r
	font-weight $fw-r !important
.fw-b
	font-weight $fw-b !important
//---TEXT-----------------------------------
.ti
	text-indent $u-6x !important
.ta-l
	text-align left !important
.ta-c
	text-align center !important
.ta-r
	text-align right !important
//---TEXT-----------------------------------
.ti
	text-indent $u-6x !important
.ta-l
	text-align left !important
.ta-c
	text-align center !important
.ta-r
	text-align right !important
//---TEXT-----------------------------------
.logo--height
	height 135px !important
.lowercase
	text-transform lowercase !important
.uppercase
	text-transform uppercase !important
//---PADDING---------------------------------
.pb
	padding $u 0 !important
.pb-1
	padding-bottom 2px !important
.pb-summ
	padding-bottom $u-2x
.mb-2u
	padding-bottom $u-2x
.bb
	border-bottom solid 1px $c-m
//---PADDING---------------------------------
.o-sup
	z-index 1000
//---MARGIN---------------------------------
.m-negative
	margin-top -8px !important
//---LINE HEIGHT---------------------------------
.lh-120
	line-height 120% !important