//---FONT FAMILY----------------------------
ff = neue-haas-grotesk-text, 'HelveticaNeue', Helvetica, Arial, sans-serif
//---UNITS SPACE----------------------------
$u = 5px
$u-2x = 10px
$u-3x = 15px
$u-4x = 20px
$u-6x = 30px
$u-12x = 60px
$u-18x = 90px
//---COLORS---------------------------------
$c-d = #1a1a1a
$c-m = #999999
$c-l = #F0F0F0
//---FONT SIZE------------------------------
$f-xs = 9px
$f-s = 10px
$f-m = 12px
$f-l = 16px
$f-xl = 18px
$f-xxl = 24px
//---FONT LINE HEIGHT-----------------------
$fw-r = 400
$fw-b = 700
//---FONT LINE HEIGHT-----------------------
$t = cubic-bezier(0,.4,.4,1),opacity .4s cubic-bezier(0,.4,.4,1),color .4s